/* stylesheet */

/* background configurations*/
body {
background-image: url(bg-image.png);
background-size: cover;

}

/* content-container configurations */
.content {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

p {
  font-size: 16px;
  font-family: "Alice",serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

h2 {
  font-size: 24px;
  font-family: "Alice",serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

h1 {
  font-size: 40px;
  font-family: "Alice",serif;
  font-weight: 400;
  font-style: normal;
  display: inline;
}

/* 48px em cima e baixo, auto nos lados*/
/* box-sizing border-box é para não deixar passar dos 800px, pois o padrão content-box soma tudo e faz ultrapassar.*/

/* cakes-image configuration */

.cakes {
  border-radius: 16px;
}

/*Estrutura HTML --> Figma --> Propropriedades & CSS Code*/