/* stylesheet */

/* background configurations*/
body {
background-image: url(assets/bg-image.png);
background-size: cover;

}

/* content-container configurations */
.content {
  width: 800px;
  height: 320px;
  padding: 24px;
}

/* cakes-image configuration */

.cakes {
  border-radius: 16px;
}